.hostLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;

}

.hostNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 2em 1em;
}


.hostNav a {
    text-decoration: none;
    color: var(--text-header);
    font-weight: 800;
    padding: 0.4em 1.6em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.hostNav a:hover {
    color: var(--text-main);
    font-weight: 900;
}


.icon {
    font-size: 20px;
    color: var(--text-main);
}



@media (min-width: 750px){
    .hostLayout {
        flex-direction: row;
    }
    
    .content {
        flex-direction: row;
    }
    
    .hostNav {
        flex-direction: column;
        margin-right: 1.7em;    
    }

    
}
