.hostVanDetailContainer {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.hostVanDetail {
    display: flex;
    align-items: center;
}

.hostVanDetail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}


.hostVanDetailInfo > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.hostVanDetailInfo > h4 {
    font-size: 20px;
    margin-block: 0;
}

.hostVanDetailNav {
    display: flex;
    margin-block: 25px;
}

.hostVanDetailNav a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 20px;
}

.hostVanDetailNav a:first-of-type {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.hostVanDetailNav a:hover {
    color: #161616;
    font-weight: 700;
}

.backButton {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1em;
}

.backIcon { 
    font-size: 1.8rem;
    color: #161616 
}


.NoVans {
    padding: 2em 0;
    height: 100vh;
}

.loadingContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 5px;
    gap: 10px;
}
