
.hostIncome {
    padding: 1em;
    color:  var(--text-main);
}

.hostChart {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.hostIncomeTop {
    display: flex;
    align-items: center;
}

.hostIncomeTop > p {
    color:  var(--text-header);
    margin-left: 0.5em;
}

.hostIncomeTop > p span {
    text-decoration: underline;
    font-weight: bold;
}

.hostIncome > h2 {
    font-size: 38px;
    color:  var(--text-main);
    font-weight: 900;
    margin-top: 0;
}

.hostIncome .infoHeader > p {
    color:  var(--text-header);
}

.hostIncome .infoHeader > p span {
    text-decoration: underline;
    font-weight: bold;
}

.hostIncome .infoHeader > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.hostIncome .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--host-orange);
    color: var(--text-main);
    margin-bottom: 31px;
    padding: 1.2em;
    border-radius: 6px;
}
.hostIncome .transaction > h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.hostIncome .transaction > p {
    font-weight: 500;
    font-size: 1rem;
   color: var(--text-main);
}

.showMoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.showMore {
    border: none;
    background-color: var(--host-orange);
    color: var(--text-main);
    border-radius: 5px;
    padding: 0.5em 1em;
    border: none;
}