* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff7ed;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

.user-icon {
    height: 18px;
    width: 18px;
}

.logout-btn  {
    background: none;
    border: none;
}

.logout-icon {
    height: 18px;
    width: 18px;
}

.login-link {
    display: inline-flex;
    align-items: center;
}

main {
    margin-bottom: 84px;
}

footer {
    background-color: #161616;
    color: #aaaaaa;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}

.link-button:hover {
    transform: translate(1px, 1px);
}


/*** VAN PAGES ***/

 .host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price > span {
    font-size: 16px;
    color: #4d4d4d;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}

/* van type */

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #ffead0;
    color: #4d4d4d;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #ffead0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4d4d4d;
}

i[class*="van-type-"] {
    padding: 7px 14px;
}

/*  */

.not-found-container {
    padding-inline: 26px;
}

.not-found-container .link-button {
    width: 100%;
    background-color: #161616;
    color: white;
}


.navContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 50px 30px 50px;
}

.HamburgerMenu{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

.MobileNav {
    display: none;
}

@media (max-width: 600px){
    .DesktopNav {
        display: none;
    }

    .MobileNav {
        display: flex;
        align-items: center;
        height: 15vh;
    }

    .navContainer {
        flex-direction: column; 
        justify-content: space-evenly;
        position: absolute;
        gap: 20px;
        top: 16vh;
        right:  0;
        height: 60vh;
        width: 30%;
        border-radius: 5px;
        background-color: #ffead0;
        border: 1px solid gray;
    }
    
}